/**{
	border: solid 1px black;
}*/

body{
	overflow-x: hidden;
	background: black;
}

.side{
	/*background: rgb(55, 58, 59);*/
	background: black;
	min-height: 100vh;
	max-width: 30vw;
}

.col-md-10 img{
	height: 120px;
	width: 400px;
}

.mid {
	padding-top: 250px;
	padding-left: 380px;
}

#fade1 {
	display: block;
}

.home {
	padding-left: 11px;
}

.button {
	color: white;
	font-size: 22pt;
	text-align: center;
	margin-left: 8px;
	margin-top: 40px;
	font-family: montserrat;
}

.button:hover {

	background: maroon;
	color: white;
	font-size: 22pt;
	text-align: center;
	font-family: montserrat;
}

.button:hover{
	cursor: pointer;
}

#top40 {
	background: rgb(21,22,23);
	min-width: 100vw;
	min-height: 150vh;
	position: absolute;
	z-index: 1;
	margin-left: -15px;
	display: none;
}

#top40 img {
	width: 280px;
	height: 280px;
	
	margin-top: 5px;
	position: relative;
	z-index: 10000;
}

#rhythm{
	background: rgb(21,22,23);
	min-width: 100vw;
	min-height: 150vh;
	position: absolute;
	z-index: 1;
	margin-left: -15px;
	display: none;
}

#rhythm img {
	width: 280px;
	height: 280px;
	
	margin-top: 20px;
	position: relative;
	z-index: 10000;
}

#adult{
	background: rgb(21,22,23);
	min-width: 100vw;
	min-height: 150vh;
	position: absolute;
	z-index: 1;
	margin-left: -15px;
	display: none;
}

#adult img {
	width: 280px;
	height: 280px;
	
	margin-top: 20px;
	position: relative;
	z-index: 10000;
}

#alt{
	background: rgb(21,22,23);
	min-width: 100vw;
	min-height: 150vh;
	position: absolute;
	z-index: 1;
	margin-left: -15px;
	display: none;
}

#alt img {
	width: 280px;
	height: 280px;
	
	margin-top: 20px;
	position: relative;
	z-index: 10000;
}

#rock{
	background: rgb(21,22,23);
	min-width: 100vw;
	min-height: 150vh;
	position: absolute;
	z-index: 1;
	margin-left: -15px;
	display: none;
}

#rock img {
	width: 280px;
	height: 280px;
	
	margin-top: 20px;
	position: relative;
	z-index: 10000;
}

#aaa{
	background: rgb(21,22,23);
	min-width: 100vw;
	min-height: 150vh;
	position: absolute;
	z-index: 1;
	margin-left: -15px;
	display: none;
}

#aaa img {
	width: 280px;
	height: 280px;
	
	margin-top: 20px;
	position: relative;
	z-index: 10000;
}

#nc{
	background: rgb(21,22,23);
	min-width: 100vw;
	min-height: 150vh;
	position: absolute;
	z-index: 1;
	margin-left: -15px;
	display: none;
}

#nc





































































 img {
	width: 280px;
	height: 280px;
	
	margin-top: 20px;
	position: relative;
	z-index: 10000;
}

hr {
height: 2px;
background-color:rgb(40,38,38);
color:rgb(40,38,38);
border: 0 none;
margin-top: 5px;
margin-bottom:5px;
}

.fixed{
	position: fixed;
	padding-left: 10px;
}

#click1{

}

::-webkit-scrollbar {
    width: 18px;
    height: 5px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.9); 
    
}
 
::-webkit-scrollbar-thumb {
    height: 5px;
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.9); 
}

#click2 {

}

#click3{

}

#click4{

}

#click5{

}




.move{
	margin-left: 100px;
}

.col-md-12 a img {
	width: 200px;
	height: 60px;
	margin-top: 10px;
}

#stat1 {
	border: solid 1px white;
	width: 280px;
	height: 280px;
	margin-top: -280px;
	
	border-radius: 8px;
	position: relative;
	
}

#stat1 h1 {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 14pt;
}

#left {

}

#stat2 {
	border: solid 1px white;
	width: 280px;
	height: 280px;
	margin-top: -280px;
	border-radius: 8px;
	position: relative;
	
}

#stat2 h1 {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 14pt;
}

#right{

}


.getSong h2 {
	
}

.getSong:hover{
	cursor: pointer;
}

#stat3 {
	border: solid 1px white;
	width: 280px;
	height: 280px;
	margin-top: -280px;
	border-radius: 8px;
	position: relative;
	
}

#stat3 h1 {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 14pt;
}

#stat4 {
	border: solid 1px white;
	width: 280px;
	height: 280px;
	margin-top: -280px;
	border-radius: 8px;
	position: relative;
	
}

#stat4 h1 {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 14pt;
}

#stat5 {
	border: solid 1px white;
	width: 280px;
	height: 280px;
	margin-top: -280px;
	border-radius: 8px;
	position: relative;
	
}

#stat5 h1 {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 14pt;
}

#stat6 {
	border: solid 1px white;
	width: 280px;
	height: 280px;
	margin-top: -280px;
	border-radius: 8px;
	position: relative;
	
}

#stat6 h1 {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 14pt;
}


#stat7 {
	border: solid 1px white;
	width: 280px;
	height: 280px;
	margin-top: -280px;
	border-radius: 8px;
	position: relative;
	
}

#stat7 h1 {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 14pt;
}


#stat8 {
	border: solid 1px white;
	width: 280px;
	height: 280px;
	margin-top: -280px;
	border-radius: 8px;
	position: relative;
	
}

#stat8 h1 {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 14pt;
}


#stat9 {
	border: solid 1px white;
	width: 280px;
	height: 280px;
	margin-top: -280px;
	border-radius: 8px;
	position: relative;
	
}

#stat9 h1 {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 14pt;
}


#stat10 {
	border: solid 1px white;
	width: 280px;
	height: 280px;
	margin-top: -280px;
	border-radius: 8px;
	position: relative;
	
}

#stat10 h1 {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 14pt;
}

#stat11 {
	border: solid 1px white;
	width: 280px;
	height: 280px;
	margin-top: -280px;
	border-radius: 8px;
	position: relative;
	
}

#stat11 h1 {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 14pt;
}

#stat12 {
	border: solid 1px white;
	width: 280px;
	height: 280px;
	margin-top: -280px;
	border-radius: 8px;
	position: relative;
	
}

#stat12 h1 {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 14pt;
}

#stat13 {
	border: solid 1px white;
	width: 280px;
	height: 280px;
	margin-top: -280px;
	border-radius: 8px;
	position: relative;
	
}

#stat13 h1 {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 14pt;
}

#stat14 {
	border: solid 1px white;
	width: 280px;
	height: 280px;
	margin-top: -280px;
	border-radius: 8px;
	position: relative;
	
}

#stat14 h1 {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 14pt;
}

#stat15 {
	border: solid 1px white;
	width: 280px;
	height: 280px;
	margin-top: -280px;
	border-radius: 8px;
	position: relative;
	
}

#stat15 h1 {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 14pt;
}

#stat16 {
	border: solid 1px white;
	width: 280px;
	height: 280px;
	margin-top: -280px;
	border-radius: 8px;
	position: relative;
	
}

#stat16 h1 {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 14pt;
}

#stat17 {
	border: solid 1px white;
	width: 280px;
	height: 280px;
	margin-top: -280px;
	border-radius: 8px;
	position: relative;
	
}

#stat17 h1 {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 14pt;
}

#stat18 {
	border: solid 1px white;
	width: 280px;
	height: 280px;
	margin-top: -280px;
	border-radius: 8px;
	position: relative;
	
}

#stat18 h1 {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 14pt;
}

#stat19 {
	border: solid 1px white;
	width: 280px;
	height: 280px;
	margin-top: -280px;
	border-radius: 8px;
	position: relative;
	
}

#stat19 h1 {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 14pt;
}

#stat20 {
	border: solid 1px white;
	width: 280px;
	height: 280px;
	margin-top: -280px;
	border-radius: 8px;
	position: relative;
	
}

#stat20 h1 {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 14pt;
}

#stat21 {
	border: solid 1px white;
	width: 280px;
	height: 280px;
	margin-top: -280px;
	border-radius: 8px;
	position: relative;
	
}

#stat21 h1 {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 14pt;
}

.getSong input{
	text-align: center;
	background: maroon;
	border-radius: 10px;
	width: 250px;
	margin-left: 15px;
	color: white;
	font-size: 16pt;
	font-weight: bold;
	color: white;
}