.bb-custom-firstpage span {
	color: black;
	font-weight: bold;
}

#carousel{
	position: relative;
	margin-top: -550px;
	margin-left: -500px;
}

#carousel img{
	position: absolute;
	width: 400px;
	height: 500px;
	display: none;
}

#carousel img:first-of-type{
	display: block;
}