@media only screen and (min-width: 900px){
body {
	overflow-x: hidden;
	}

.wrap {
	 
}
.logo img {
	width: 109px;
	height: 33px;
	margin-top: 16px;
	float: right;
	margin-right: 5px;
}

.top {
	border-bottom: solid 1px rgb(228,231,227);
	z-index: 1000;
	position: relative;
	background: white;
	position: fixed;
	width: 100vw;
}


.menu{
	display: block;
}

.menu img {
	width: 50px;
	height: 60px;
	margin-left: 80px;
	margin-top: 8px;
}

.menu img:hover {
	cursor: pointer;
}


.menu2 {
	display: block;
	margin-top: 60px;
	margin-left: -70px;
}

.menu2:hover{
	cursor: pointer;
}

ul{
	list-style-type: none;
	margin-top: -40px;
	}

ul li {
	display: inline;
	margin-left: 50px;
	font-size: 14pt;
	font-family: poiret one;
	font-weight: bold;

}

ul li:hover {
	text-decoration: underline;
	color: maroon;
}

div ul li a {
	text-decoration: none;
	color: black;
}

div ul li a:hover {
	text-decoration: none;
	color: maroon;
}

.intro img {
	width: 100vw;
	position: relative;
}

h2 { 
   position: absolute; 
   top: 100px; 
   left: 100px; 
   width: 100%; 
   color: black;
   font-size: 60pt;
   font-family: poiret one;
}

h1{
	border:black 4px solid;
	background: white;
	min-width: 80px;
	max-width: 80px;
	position: absolute;
	top: 190px;
	left:110px;
}

h3{
	color: black;
	position: absolute;
	top: 215px;
	left:110px;
	font-size: 20pt;
	font-family: poiret one;
}

.info {
	min-width: 100vw;
	position: absolute;

	background: white;

}



.one {
	margin-top: 10px;
	margin-left: 10px;

}

.twitter-timeline {
	background-color: black;
}

.center {
	text-align: center;
}

.social ul {
	margin-top: -50px;
	position: absolute;
	margin-left: 45px;
}

.social ul li {
	margin-left: 10px;
}

.social ul li:hover {
	cursor: pointer;
}

.social ul li a {

}

.social ul li img {
	width: 30px;
	height: 30px;
}

.mobileImg img{
	display: none;
	margin: 0 auto;
	width: 350px;
	height: 350px;
	margin-top: 220px;
	border: solid 4px black;
	margin-bottom: 20px;
}

.one {
	display: none;
}

h4 {
	font-family: Poiret one;
	font-size: 26pt;
	text-align: center;
	font-weight: bold;
}

.logo2 img{
	width: 250px;
	height: 70px;
	margin: 0 auto;
}

.logo3 img{
	width: 100px;
	height:100px;
	margin: 0 auto;
}

.info .col-md-4 img{
	display: block;
	margin: 0 auto;
}

audio {
	position: absolute;
	top: 275px;
	left: 110px;
	color: white;
	width: 300px;

}

.vid iframe{
	display: block;
	margin: 0 auto;
	margin-top: 20px;
}

}


@media only screen and (min-width: 200px) and (max-width: 899px){
body {
	overflow-x: hidden;
	}

.wrap {
	 
}
.logo img {
	width: 120px;
	height: 40px;
	margin-top: 16px;
	margin-bottom: 10px;
	margin-left: 5px;
}

.top {
	border-bottom: solid 1px rgb(228,231,227);
	z-index: 1000;
	position: relative;
	background: white;
	position: fixed;
	width: 100vw;
}


.move {
	margin-top: -325px;
}

.move2 {
	margin-top: -80px;
}

.move3 {
	margin-top: -150px;
}

.menu2 {
	display: none;
	margin-top: 60px;
	margin-left: -70px;
}

.menu2:hover{
	cursor: pointer;
}

ul{
	list-style-type: none;
	margin-top: -40px;
	}

ul li {
	display: inline;
	margin-left: 50px;
	font-size: 14pt;
	font-family: poiret one;
	font-weight: bold;

}

ul li:hover {
	text-decoration: underline;
	color: maroon;
}

div ul li a {
	text-decoration: none;
	color: black;
}

div ul li a:hover {
	text-decoration: none;
	color: maroon;
}

.intro img {
	
	width: 100vw;
	position: relative;

}

h2 { 
   position: absolute; 
   top: 60px; 
   left: 20px; 
   width: 100%; 
   color: black;
   font-size: 25pt;
}

h1{
	border:black 2px solid;
	background: white;
	min-width: 80px;
	max-width: 80px;
	position: absolute;
	top: 100px;
	left:30px;
}

h3{
	color: black;
	position: absolute;
	top: 115px;
	left:20px;
	font-size: 20pt;
}

.info {
	min-width: 100vw;
	
	background: white;
	bottom: 0;
}



.one {
	margin-top: 10px;
	margin-left: 10px;

}

.twitter-timeline {
	background-color: black;
}

.center {
	text-align: center;
}

.social ul {
	position: absolute;
	margin-top: 170px;
	padding-left: 10px;
}

.social ul li {
	margin-left: 10px;
}

.social ul li:hover {
	cursor: pointer;
}

.social ul li a {

}

.social ul li img {
	width: 40px;
	height: 40px;
}

.topImage {
	display: none;
}

.mobileImg img{
	display: block;
	margin: 0 auto;
	width: 350px;
	height: 350px;
	margin-top: 220px;
	border: solid 4px black;
	margin-bottom: 10px;
}

.col-md-12 {
	padding-left: 0;
	padding-right: 0;
}

.col-md-4{
	padding-right: 0;
}

.one {
	margin-left: 30px;
	font-weight: bold;
}

.one a{
	text-decoration: none;
	color: black;
}

.one a:hover {
	cursor: pointer;
	text-decoration: underline;
}

.vid{
	display: none;
}

}