@media only screen and (min-width: 900px){
body {
	overflow-x: hidden;
	}

.wrap {
	 
}
.logo img {
	width: 109px;
	height: 33px;
	margin-top: 16px;
	float: right;
	margin-right: 5px;
}

.top {
	border-bottom: solid 1px rgb(228,231,227);
	z-index: 1000;
	position: relative;
	background: white;
	position: fixed;
	width: 100vw;
}

.menu{
	display: block;
}

.menu img {
	width: 50px;
	height: 60px;
	margin-left: 80px;
	margin-top: 8px;
}

.menu img:hover {
	cursor: pointer;
}

#carousel{
	position: relative;
}

#carousel img{
  height: 100%;
  width: 100%;	
}

#carousel img:first-of-type{
	display: block;
}

.move {
	margin-top: -325px;
}

.move2 {
	margin-top: -80px;
}

.move3 {
	margin-top: -150px;
}

.menu2 {
	display: block;
	margin-top: 60px;
	margin-left: -70px;
}

.menu2:hover{
	cursor: pointer;
}

ul{
	list-style-type: none;
	margin-top: -40px;
	}

ul li {
	display: inline;
	margin-left: 50px;
	font-size: 14pt;
	font-family: poiret one;
	font-weight: bold;

}

ul li:hover {
	text-decoration: underline;
	color: maroon;
}

div ul li a {
	text-decoration: none;
	color: black;
}

div ul li a:hover {
	text-decoration: none;
	color: maroon;
}

.intro img {
	width: 100vw;
	position: relative;
	top: -80px;
}

h2 { 
   position: absolute; 
   top: 60px; 
   left: 100px; 
   width: 100%; 
   color: black;
   font-size: 60pt;
   font-family: poiret one;
   font-weight: bold;
}

h1{
	border:black 4px solid;
	background: black;
	min-width: 80px;
	max-width: 80px;
	position: absolute;
	top: 150px;
	left:110px;

}

h3{
	color: black;
	position: absolute;
	top: 175px;
	left:110px;
	font-size: 42pt;
	font-family: poiret one;
	font-weight: bold;
}

.info {
	min-width: 100vw;
	position: absolute;

	background: white;

}



.one {
	margin-top: 10px;
	margin-left: 10px;

}

.twitter-timeline {
	background-color: black;
}

.center {
	text-align: center;
}

.social ul {
	margin-top: -50px;
	position: absolute;
	margin-left: 45px;
}

.social ul li {
	margin-left: 10px;
}

.social ul li:hover {
	cursor: pointer;
}

.social ul li a {

}

.social ul li img {
	width: 30px;
	height: 30px;
}

.mobileImg img{
	display: none;
	margin: 0 auto;
	width: 350px;
	height: 350px;
	margin-top: 220px;
	border: solid 4px black;
	margin-bottom: 20px;
}

.one {
	display: none;
}

h4 {
	font-family: Poiret one;
	font-size: 26pt;
	text-align: center;
	font-weight: bold;
}

.logo2 img{
	width: 250px;
	height: 70px;
	margin: 0 auto;
}

.logo3 img{
	width: 100px;
	height:100px;
	margin: 0 auto;
}

.info .col-md-4 img{
	display: block;
	margin: 0 auto;
}

audio {
	position: absolute;
	top: 275px;
	left: 110px;
	color: white;
	width: 300px;

}

.vid iframe{
	display: block;
	margin: 0 auto;
	margin-top: -60px;
}

.dropdown {
	display: none;
}

.boxdis {
	display: none;
}

.col-md-6 li {
   text-align: center;
   font-size: 17pt;
   font-family: poiret one;
   font-weight: bold;
   list-style-type: none;
}

h6 {
   text-align: center;
   font-size: 26pt;
   font-family: poiret one;
   font-weight: bold;
   text-decoration: underline;
}

.col-md-6 {
	text-align: center;
}

.info2{
	margin-top: 60px;
}

.chart {
	margin-top: 30px;
	text-align: center;
	font-family: poiret one;
	font-size: 40pt;
	font-weight: bold;
}


}


@media only screen and (min-width: 300px) and (max-width: 899px){
html {
	max-width: 100%;
	overflow-x: hidden;
}

body {
	max-width: 100%;
	overflow-x: hidden;

}

.logo img {
	width: 130px;
	height: 40px;
	float: right;
	margin-right: 5px;
	margin-top: 7px;
	margin-bottom: 15px;
}

.row {
	margin: 0 auto;
}


.col-md-4 {
	padding-left: 0;
	padding-right: 0;
	margin: 0 auto;
}

.col-md-4 .thumbnail {
	margin-top: 25px;
}

.top {
	border-bottom: solid 1px rgb(228,231,227);
	z-index: 1000;
	position: fixed;
	background: white;
	width: 100%;
}



.menu2 {
	display: none;
	margin-top: 60px;
	margin-left: -70px;
}

.menu2:hover{
	cursor: pointer;
}



.menumini img {
	float: left;
	margin-top: 23px;
}

/* Dropdown Button */
.dropbtn {

    border: none;
    cursor: pointer;
   	margin-top: 15px;
    z-index: 1000;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    float: left;
    display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    background-color: #f9f9f9;
    width: 100vw;
   	font-family: poiret one;
   	font-weight: bold;
   	font-size: 25pt;
    z-index: 1000;
    display: none;
    position: absolute;
    margin-top: 15px;
	text-align: center;
	margin-left: -15px;
	background: white;

}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    border-bottom: .5px solid rgb(225, 225, 225);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.topImage img {
	display:none;
}

.mobileImg img {
	display: block;
	width: 320px;
	height: 300px;
	margin: 0 auto;
	margin-top: 80px;
}

iframe {
	display:block;
	margin: 0 auto;
	width: 90%;
	height: 80%;
	margin-top: 5px;
}

.social ul {
	display:none;

}


h2 { 
   display: none;
}

h1{
	display: none;
}

h3{
	display: none;
}

.boxdis{
 background: rgba(235, 233, 233, .5);
 margin-top: -60px;
 position: absolute;
 width: 320px;
 text-align: right;
 text-decoration: none;
 color: black;
 font-size: 16pt;
 font-family: poiret one;
 font-weight: bold;
 margin-left: 13px;
}

.logo2 img{
	display:none;
}

.logo3 img{
	display:none;
}

.info .col-md-4 img{
	display: none;
}

.info{
	text-align: center;
	font-family: poiret one;

}

h4{
	font-weight: bold;
	font-size: 20pt;
	padding-top: 20px;
}

h6{
	font-weight: bold;
	font-size: 20pt;
	padding-top: 20px;
	font-family: poiret one;
	text-align: center;
	text-decoration: underline;
}

.col-md-6 li {
   text-align: center;
   font-size: 16pt;
   font-family: poiret one;
   font-weight: bold;
   list-style-type: none;
}

h6 {
   text-align: center;
   font-size: 20pt;
   font-family: poiret one;
   font-weight: bold;
   text-decoration: underline;
}

.col-md-6 {
	text-align: center;
}

.info2{
	margin-top: 5px;
}

.chart {
	margin-top: 30px;
	text-align: center;
	font-family: poiret one;
	font-size: 20pt;
	font-weight: bold;
}

.chart2 {
	font-size: 32pt;
}

.tweets {
	display: none;
}

}